@import url('https://fonts.cdnfonts.com/css/pirates');

body {
    background: #9ae2ff;
    overflow: hidden;
}

.game-container {
    margin: 0 auto;
    background: white;
    width: 1060px;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.game-title {
    color: red;
    font-family: 'PiratesStoertebecker', sans-serif;
}

#pirate-flag {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.game-image-container {}

.game-image {
    width: 80%;
    display: inline-block;
}


.game-status,
.won-message,
.lost-message {
    font-family: cursive;
}

.won-message {
    color: darkgreen;
    font-size: 15px;
}

.lost-message {
    color: darkred;
    font-size: 15px;
}

.difficulty-container {
    float: right;
    display: inline;
    vertical-align: top;
}

.difficulty-form button,
.keyboard-form button {
    margin: 5px;
    /* background-color: lightblue; */
}

.keyboard-form {
    display: inline-block;
}

.current-guesses {
    margin-top: 20px;
    padding: 15px;
    background: white;
    color: black;
}

.guess-letter {
    color: black;
    font-size: 35px;
    margin-right: 5px;
}

.footer {
    vertical-align: bottom;
    font-family: cursive;
    color: red;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-guesses,
.footer {
    text-align: center;
    width: 90%;
}

#ship-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

#sailing-ship {
    position: absolute;
    bottom: 10px;
    /* Adjust for the ship's position from the bottom */
    /* Start from the left outside of the screen and move to the right */
    animation: sail 20s linear infinite, rock 3s ease-in-out infinite alternate;
}

@keyframes sail {
    0% {
        right: -400px;
        /* Assuming the ship is 200px wide */
    }

    100% {
        right: 100%;
        /* Move to the right until it's off-screen */
    }
}

@keyframes rock {
    0% {
        transform: translateY(0) rotate(-4deg);
        /* Slight tilt to the left */
    }

    50% {
        transform: translateY(-20px) rotate(4deg);
        /* Move up and tilt to the right */
    }

    100% {
        transform: translateY(0) rotate(-4deg);
        /* Back to initial tilt */
    }
}